[submodule "employee-registration"]
	path = employee-registration
	url = https://github.com/joangavelan/employee-registration.git
[submodule "change-color-background"]
	path = change-color-background
	url = https://github.com/joangavelan/change-color-background.git
[submodule "counter"]
	path = counter
	url = https://github.com/joangavelan/counter.git
[submodule "calculator"]
	path = calculator
	url = https://github.com/joangavelan/calculator.git
[submodule "carousel-modal"]
	path = carousel-modal
	url = https://github.com/joangavelan/carousel-modal.git
