[submodule "employee-registration"]
	path = employee-registration
	url = https://github.com/joangavelan/employee-registration.git
[submodule "change-color-background"]
	path = change-color-background
	url = https://github.com/joangavelan/change-color-background.git
[submodule "counter"]
	path = counter
	url = https://github.com/joangavelan/counter.git
[submodule "calculator"]
	path = calculator
	url = https://github.com/joangavelan/calculator.git
[submodule "carousel-modal"]
	path = carousel-modal
	url = https://github.com/joangavelan/carousel-modal.git
[submodule "filter-items"]
	path = filter-items
	url = https://github.com/joangavelan/filter-items.git
[submodule "hex-color-background-changer"]
	path = hex-color-background-changer
	url = https://github.com/joangavelan/hex-color-background-changer.git
[submodule "image-slider"]
	path = image-slider
	url = https://github.com/joangavelan/image-slider.git
[submodule "pass-the-message"]
	path = pass-the-message
	url = https://github.com/joangavelan/pass-the-message.git
[submodule "random-quotes"]
	path = random-quotes
	url = https://github.com/joangavelan/random-quotes.git
[submodule "testimonials"]
	path = testimonials
	url = https://github.com/joangavelan/testimonials.git
[submodule "tip-calculator"]
	path = tip-calculator
	url = https://github.com/joangavelan/tip-calculator.git
[submodule "to-do-list"]
	path = to-do-list
	url = https://github.com/joangavelan/to-do-list.git
[submodule "countdown-timer"]
	path = countdown-timer
	url = https://github.com/joangavelan/countdown-timer.git
[submodule "password-generator"]
	path = password-generator
	url = https://github.com/joangavelan/password-generator.git
[submodule "OOP-quiz-app"]
	path = OOP-quiz-app
	url = https://github.com/joangavelan/OOP-quiz-app.git
