html {
    overflow-y: scroll;
}

.app {
    width: 145rem;
    color: var(--color-text-dark);
    align-self: flex-start;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    list-style-type: none;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem 0;
    border-bottom: 1px solid #b8b8b8;
}

.nav ul {
    width: 45rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 1rem 1.5rem 1rem 0;
}

nav ul a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-gray-dark);
}

nav input {
    padding: 5px 1rem;
    outline: 0;
    font-size: 1.5rem;
    border: 1px solid var(--color-gray-dark);
    color: var(--color-text-dark);
    margin: 1rem 0;
}

/* product */
.product__image {
    width: 100%;
    cursor: pointer;
}

.product__data {
    margin: 1rem 0 1.5rem;
}

.product__name {
    font-size: 1.6rem;
    font-weight: 400;
}

.product__price {
    font-size: 1.4rem;
    color: #ddac55;
}


@media only screen and (max-width: 600px) {
    .app {
        width: 100%;
    }
    .gallery {
        grid-template-columns: 1fr;
    }
    h1 {
        line-height: 1.1;
        margin-bottom: 1.5rem;
    }
}