.fi-container {
    width: 145rem;
    color: var(--color-text-dark);
    height: 100%;
}

.filter-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
    grid-gap: 2rem;
    padding-bottom: 3.5rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem 0;
    border-bottom: 1px solid #b8b8b8;
}

.nav ul {
    width: 42rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 1rem 0;
}

nav ul a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--color-gray-dark);
}

nav input {
    padding: 5px 1rem;
    outline: 0;
    font-size: 1.5rem;
    border: 1px solid var(--color-gray-dark);
    color: var(--color-text-dark);
    margin: 1rem 0;
}

/* product */
.product__image {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.product__name {
    font-size: 1.6rem;
    font-weight: 400;
}

.product__price {
    font-size: 1.4rem;
    color: #ddac55;
}