:root {
    --color-primary: #413B5B;
    --color-primary-light: #DBD9E2;
    --color-secondary: #F0A84F;
    --color-tertiary: #FC5355;
    --color-fourth: #6440D7;
    --color-gray: #F7F5F9;
}

body {
    background-color: var(--color-gray);
}

.app {
    align-self: flex-start;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100rem;
}

.header .title {
    font-size: 4.2rem;
    font-weight: 600;
    color: var(--color-primary);
}

/* add a task input */
.insert-todo {
    display: block;
    color: var(--color-primary);
    width: 100%;
    margin-top: 5rem;
    border: 0;
    outline: 0;
    padding: 1.7rem 2.3rem;
    font-size: 1.8rem;
    border: 1px solid #d8d4e2;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
}

.insert-todo::placeholder {
    text-align: center;
    color: #bcbac7;
    font-size: 1.9rem;
}

/* to-do list */
.todo-list {
    width: 100%;
    list-style-type: none;
    margin: 3rem;
    font-size: 1.8rem;
}

/* item */
.todo-list__item {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid var(--color-primary-light);
    border-radius: 10px;
}

.todo-list__item:not(:last-child) {
    margin-bottom: 1rem;
}

.check-circle {
    font-size: 1.9rem;
    padding: 2rem 2.5rem;
    border-right: 1px solid var(--color-primary-light);
    cursor: pointer;
}

.todo-list__item-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 2.5rem;
}

.task {
    font-size: 2rem;
    font-weight: 500;
    color: #56506A;
}

i {cursor: pointer;}

.delete {color: var(--color-tertiary);}

.done {color: #DBD9E2;}